@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf')  format('truetype');
  }

  body{
      font-family: 'vazir';
      direction: rtl;
      text-align: right;
      background: #f8f8f8;
      overflow-x: hidden;

  }

  *{
      text-decoration: none !important;
      outline: none;
      list-style: none;
  }

  ul,li,p{
      padding: 0 !important;
      margin: 0 !important;
      outline: none !important;
  }

  .btn-primary,.bg-primary{
      background: #ffa62b !important;
  }

  .text-primary{
      color: #ffa62b !important;
  }
  .btn-dark,.btn-primary{
      box-shadow: none !important;
      border-color: transparent !important;
  }
  .form-control:focus{
      box-shadow: none;
      border-color: #ffa62b;
  }

  .form-control{
      font-size: 13px;
  }

  /* top header */

.top-header{
    background: #363b42;
    position: relative;
}

.top-header .email-address{
    color: #ffa62b;
    font-size: 14px;
}

.top-header .email-address span{
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.top-header .call{
    color: #ffa62b;
    font-size: 14px;
}
.top-header .call span{
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
    letter-spacing: 2px;
}



.top-header .top-header-social ul li a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.05);
    margin-left: 5px;
    color: #ffa62b;
}

/* header */

header{
    background: #3d424a;
    width: 100%;
    overflow: hidden;
}
.navbar{
    padding: 0;
}
.navbar .nav-link{
    color: rgb(216, 216, 216);
    padding: 0 1rem !important;
    position: relative;
    z-index: 1;
}

.navbar .nav-link.active{
    color: #3d424a;
}
.navbar .nav-link.active::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffa62b;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    z-index: -1;
}

.navbar .logo{
    font-family: 'Poppins', sans-serif;
}

.navbar .logo a{
    color: #3d424a;
    font-weight: 800;
    background: #ffa62b;
    font-size: 22px;
    padding: .5rem 0;
    position: relative;
    z-index: 1;
    display: block;
}

.navbar .logo a::before{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: #ffa62b;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    z-index: -1;
}

.navbar .logo a::after{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    width: 360%;
    height: 100%;
    background: #ffa62b;
    z-index: -1;
}

/* hero wrap */

.hero-wrap{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.hero-wrap .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6;
    background: #3d424a;
    z-index: -1;
}


.hero-wrap .hero-wrap-content::after{
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    height: 90%;
    width: 50%;
    border: 10px solid rgba(255,255,255,.1);
    margin: 0 auto;
}

.hero-wrap .hero-wrap-content .subheading{
    position: relative;
    width: 100px;
    display: block;
    margin: auto;
}

.hero-wrap .hero-wrap-content .subheading::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: #fff;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.hero-wrap .hero-wrap-content .subheading::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: #fff;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* about */

.about{
    padding: 100px 0;
    background: #f8f8f8;
    width: 100%;
}


.about .services:hover{
    background:#3d424a;
}

.about .services:hover .services-text h3,
.about .services:hover .services-text p{
    color: #fff !important;
}

.about .about-img{
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.about .about-img .counter-wrap{
    position: absolute;
    bottom: 98px;
    right: -97px;
    background: #3d424a;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    width: 300px;
}

.about .about-img .counter-wrap .icon img{
    width: 60px;
}

/* intro */

.intro{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.intro::after{
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    right: -50px;
    background: #ffa62b;
    opacity: .9;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    z-index: -1;
}

.intro .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}

/* service */

.service{
    background: #f8f8f8;
}

.service .service-img{
    background-size: cover;
    background-position: center;
}

/* counter */

.counter-section{
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.counter-section .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #3d424a;
    z-index: -1;
    opacity: .6;
}

/* team */
.team{
    background: #f8f8f8;
}
.team .team-item{
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    background: #fff;
    box-shadow: 0 0 10px rgba(156, 156, 156, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.team .team-item .team-item-img{
    background-size: cover;
    background-position: center;
    height: 420px;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0 ;
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius: 5px 5px 0 0 ;
    -ms-border-radius: 5px 5px 0 0 ;
    -o-border-radius: 5px 5px 0 0 ;
}

.team .team-item .team-item-img ul{
    position: absolute;
    left: 10px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.team .team-item:hover .team-item-img ul{
    opacity: 1;
    visibility: visible;
}
.team .team-item:hover{
    background: #ffa62b;
}
.team .team-item .team-item-img ul li svg{
    color: #fff;
    width: 40px;
    height: 40px;
    background: #3d424a;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* project */
.project{
    background: #f8f8f8;
}
.project .row>*{
    padding: 0;
}
.project .project-item{
    position: relative;
    overflow: hidden;
}
.project .project-item::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.project .project-item:hover::before{
    opacity: 1;
}
.project .project-item img{
    height: 350px;
    object-fit: cover;
}

.project .project-item .project-search{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    visibility: hidden;
}


.project .project-item .project-search svg{
    width: 45px;
    height: 45px;
    background: #ffa62b;
    color: #fff;
    padding: 15px;
}

.project .project-item:hover .project-search{
    opacity: 1;
    visibility: visible;
}

.project .project-item .project-description{
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.project .project-item:hover .project-description{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

/* testimonial */

.testimonial{
    background: #f8f8f8;
}
.testimonial .slider-item{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.testimonial .slider-item img{
    width: 120px;
}

.testimonial .carousel-indicators button{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 10px !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.testimonial .carousel-indicators button.active{
    width: 30px !important;
}

/* blogs */
.blogs .blog-item{
    box-shadow: 0 0 10px rgba(117,117,177,.2);
}
.blogs .blog-item .blog-img{
    height: 300px;
}
.blogs .blog-item .blog-img img{
    height: 100%;
    object-fit: cover;
}
.blogs .blog-item .blog-img .date{
    position: absolute;
    bottom: 0;
    background: #3d424a;
    width: 60px;
    right: 20px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.blogs .blog-item .blog-text-title a{
    color: #333;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.blogs .blog-item .blog-text-title a:hover{
    color: #ffa62b;
}
.blogs .blog-item .blog-text-title h2{
    line-height: 40px;
}

/* contact */
.contact{
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.contact .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color:#fff;
    opacity: .9;
    z-index: -1;
}

.contact .input-group label{
    color: rgb(77,77,77);
    font-size: 14px;
}
.contact .input-group input{
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .input-group input::placeholder{
    color: rgb(196, 196, 196);
}

.contact .input-group textarea{
    border: 1px solid rgba(0, 0, 0, .1);
    height: 190px;
    resize: none;
}

.contact .input-group textarea::placeholder{
    color: rgb(196, 196, 196);
}

.accordion-button:not(.collapsed){
    color: #3d424a;
    background-color: #ffa62b;
}

.contact .faq{
    background: #fff;
    padding: 100px 0;
    position: relative;
}

.contact .faq:after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 100%;
    width: 300%;
    background: #fff;
}

.accordion-button::after{
    position: absolute;
    left: 20px;
    content: "";
    border-right: 5px solid #3d424a;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #3d424a;
}
.accordion-button:not(.collapsed)::after{
    background-image: none;
}

.accordion-button::after{
    background-image: none;
}

.accordion-button:focus{
    border-color: transparent;
    box-shadow: none
}

/* footer */

.footer{
    background: #3d424a;
}

.footer .footer-about ul li a{
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    color: #ffa62b;
}

.footer .footer-service .footer-service-img img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.footer .footer-service .footer-service-author span{
    font-size: 13px;
    margin-left: 10px;
}

.footer .footer-service .footer-service-author span svg{
    margin-left: 5px;
}

.footer .footer-quick-link ul li a{
    padding: 7px 0;
    display: block;
    color: #fff;
    font-size: 15px;
}

.footer .footer-quick-link ul li a svg{
    margin-left: 5px;
    font-size: 13px;
}

.footer .footer-question h5{
    line-height: 20px;
}

.footer .copy-right{
    background: #2a2e33;
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}



.hamburger-menu{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.close-menu{
    padding: 20px 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    background: #2d3036;
    display: none;
}

/* ===============  blog ========== */

.detail-website .blog-item{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 10px rgba(117,117,177,.2);
}

.sidebar{
    box-shadow: 0 0 10px rgba(117,117,177,.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar-item-text img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.sidebar-item-title{
    border-bottom: 1px solid #ffa62b;
}
.sidebar-item-text  a{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.sidebar-item-text  a:hover{
    color: #ffa62b !important;
}

.comment-section p {
    font-size: 14px;
}

.comment input,
.comment textarea{
    font-size: 13px;
}

.comment textarea{
    height: 150px;
    resize: none;
}

.jq-icon-success{
    text-align: right !important;
    padding-right: 1.5rem !important;
}
